name: Publish C# Application

on:
  push:
    branches:
      - master  # ”кажите вашу основную ветку

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Application
        run: dotnet build --configuration Release

      - name: Publish Application
        run: sudo dotnet publish --configuration Release --output /root

      - name: Deploy to Server
        run: |
          # «десь добавьте команды дл€ развертывани€ вашего приложени€ на сервере
          # Ќапример, вы можете использовать SCP, SSH и другие инструменты дл€ копировани€ файлов и запуска приложени€
